.main-containerard {
        position: relative;
}
.card {
        /* position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; */
        /* position: absolute; */
        margin: 0 auto;
        width: 400px;
}
.abcd{
        text-align: center;
}